html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f4f6;
}

.main {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.revenue-card {
  background-color: white;
}

.card-title {
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid #CDCFD4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.revenue-card-body {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.revenue-card-section {
  display: flex;
  padding: 20px;
  flex-basis: 21%;
  height: 100%;
  position: relative;
	border-right: 1px solid #CDCFD4;
}

/*.revenue-card-section:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10%;
  height: 75%;
  width: 1px;
  border-right: 1px solid #CDCFD4;
}*/

.revenue-card-section:last-child {
  border-right: 0px;
}

.section-body {
	flex-basis: 70%;
	margin-left: 10px;
}

.section-title {
  font-size: 16px;
}

.revenue-number {
  font-size: 40px;
}

.chart {
	padding: 45px;
	max-height: 500px,
}

.new-form {
  display: flex;
}
